@use "../abstracts/variables";

.recent-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: 20px;
}

.music-card {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: variables.$fs-semimd-desk;
  padding: 8px;
  background-color: variables.$bg-secondary-dark;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 43px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 3px;
    flex-shrink: 0; // makes surees  text doesn't squeeze the image
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
    overflow: hidden;

    h3 {
      color: variables.$color-active-desk;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; // adds ... if  title is too long
    }
    p {
      color: variables.$color-primary;
      white-space: nowrap;
      margin: 4px 0 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
@media (min-width: 920px) {
  .recent-container {
    display: none;
  }
}
