@use "./variables";

@mixin interactiveIcon(
  $defaultColor: variables.$color-primary,
  $hoverColor: variables.$color-active-desk,
  $activeColor: variables.$color-active-desk
) {
  color: $defaultColor;
  transition: color 0.3s ease;
  &:hover {
    color: $hoverColor;
  }
  &.active {
    svg {
      color: $activeColor;
      fill: $activeColor;
    }
  }
}
