@use "../abstracts/fonts";

// Font
$ff-satoshi: "Satoshi-Regular";

// Font size
$fs-primary: 1.4rem;

// Colors
$bg-primary-desk: #060606;
$bg-primary-mob: #111111;

$bg-secondary-dark: #202020;
$bg-secondary-light: #333848;

// color for text, svg and bg-color
$color-primary: #898989;

$color-active-desk: #e0e0e0;
$color-active-mob: #898989;

$color-active: #111111;

$color-accent: #1ed760;
