@use "../abstracts/fonts";

// Font
$ff-satoshi: "Satoshi-Regular";

// Font size
$fs-primary: 1.4rem;

// Colors
$bg-primary-desk: #060606;
$bg-primary-mob: #111111;

$bg-secondary-dark: #202020;
$bg-secondary-light: #333848;

// color for text, svg and bg-color
$color-primary: #898989;

$color-active-desk: #e0e0e0;
$color-active-mob: #898989;

$color-active: #111111;

$color-accent: #1ed760;



$library-colors: (
  "dark-green": #0c391c,
  "grey": #898989,
  "darccream": #a69174,
  "midblue": rgb(98, 120, 177),
  "saladgreen": rgb(117, 164, 150),
  "lightgreen": rgb(149, 230, 211),
  "pink": rgb(244, 184, 189),
  "grassgreen": #c3e7b7,
  "leafgreen": #8fd478,
  "yellow": #cfc128,
  "oceanblue": #64a399,
);
